.navbar {
    // background-color: black;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;
    background-image: url('../../images/fake_luxury.png');

    h1 {
        // color: #cccccc;
        color: black;
        font-weight: bold;
    }
    
}